body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background: #eee;
  padding: 15px 0;
}

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto 30px;
  padding: 25px;
}

h1, h2, h3, h4, h5, h6, p, input, select, option {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
}
p {
  font-size: 1em;
  font-weight: 300;
}

hr {
  margin: 35px 0 10px;
  border: none;
  border-top: 1px solid #ddd;
}

img {
  display: block;
  margin: 0 auto;
}

form {
  width: 100%;
  margin-bottom: 20px;
}

input, select {
  box-sizing: border-box;
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 0 0 15px;
  padding: 10px;
}
input[type="submit"] {
  width: 100%;
}
span.fixed-width {
  width: 100px;
  display: inline-block;
}